<h1> Potin n°<%=@gossip.id%> ! </h1>
<h2>Intitulé : <%=@gossip.title%>, créé le <%=@gossip.created_at%>,</h2>
<h2>Par <%= link_to @gossip.user.first_name + " " + @gossip.user.last_name, user_display_path(@gossip.user.id) %>, <%=@gossip.user.age%> ans, de <%=@gossip.user.city.name%></h2>

<p><%=@gossip.content%></p>
