<h1> Auteur n°<%=@user.id%> ! </h1>
<h2>Prénom : <%=@user.first_name%><br>
Nom : <%=@user.last_name%><br>
Age : <%=@user.age%> ans <br>
Ville : <%=@user.city.name%><br>
Email : <%=@user.email%><br>
Inscrit(e) le : <%=@user.created_at%></h2><br>
<p>Description : <%=@user.description%></p>
